@using TicketEngineClassLibrary
@model TicketEvent
@{
    ViewData["Title"] = "Enter  New Events To The database ";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="addevent" method="post">
                <div class="form-group" method="post">
                    <label> Event Name</label>
                    <input class="form-control" id="EventNameTxt" required />
                    <small id="Info" class="form-text text-muted">Please enter a name for your Event </small>
                </div>
                <div class="form-group" method="post">
                    <label> Event Description</label>

                    <textarea rows="4" cols="50" class="form-control" id="DescriptionTxt" placeholder="Enter Event Description"></textarea>
                </div>
                <div class="form-group" method="post">
                    <label>Price</label>
                    <input class="form-control" id="PriceTxt" required />
                    <small id="Info" class="form-text text-muted">Please Price of the event </small>
                </div>

                <div class="form-group" method="post">
                    <button type="button" class="AddEventBtn" id="AddEventBtn" name="AddEventBtn" onclick="myFunction()">Creat Event</button>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    function myFunction() {
        var dataType = 'application/json'

        var datalist1 = {
            EventName: $("#EventNameTxt").val(),
            EventHtmlDescription: $("#DescriptionTxt").val(),
            TicketEventPrice: $("#PriceTxt").val(),
        }


        // convert the object into a json string


        // simple ajax call to post your json data

        $.ajax({
            type: "POST",
            url: "http://localhost:54874/Event/",
            dataType: 'application/json',
            contentType: dataType,
            data: JSON.stringify(datalist1),
            success: alertFunction()
        });

        document.getElementById("Creat Event ").reset();
    };
</script>
<script>
    function alertFunction() {
        alert(" You have added a new Event to the database ");
    }
</script>