@using TicketEngineClassLibrary
@model Venue
@{
    ViewData["Title"] = "Enter new venues i to database ";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="creatvenue" method="post">
                <div class="form-group" method="post">
                    <label>Name</label>
                    <input class="form-control" id="NameTxt" required />
                    <small id="Info" class="form-text text-muted">Please enter a name for your Venue </small>
                </div>
                <div class="form-group" method="post">
                    <label>Address</label>
                    <input class="form-control" id="AddressTxt" required />
                    <small id="Info" class="form-text text-muted">Please enter a name for your Venue </small>
                </div>

                <div class="form-group" method="post">
                    <label>City</label>
                    <input class="form-control" id="CityTxt" required />
                    <small id="Info" class="form-text text-muted">Please enter a name for your Venue </small>
                </div>
                <div class="form-group" method="post">
                    <label>Country</label>
                    <input class="form-control" id="CountryTxt" required />
                    <small id="Info" class="form-text text-muted">Please enter a name for your Venue </small>
                </div>
                <div class="form-group" method="post">
                    <button type="button" class="CreatvenueBtn" id="CreatvenueBtn" name="CreatvenueBtn" onclick="myFunction()"> Creat Venue </button>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
    function myFunction() {
        var dataType = 'application/json'

        var datalist = {
            VenueName: $("#NameTxt").val(),
            Address: $("#AddressTxt").val(),
            City: $("#CityTxt").val(),
            Country: $("#CountryTxt").val()
        }

        $.ajax({
            type: "POST",
            url: "http://localhost:51775/venue/",
            dataType: 'application/json',
            contentType: dataType,
            data: JSON.stringify(datalist),
            success: alertFunction()
        });

        document.getElementById("creatvenue").reset();
    };
</script>
<script>
    function alertFunction() {
        alert("Venue  is added in ti the database");
    }
</script>